In [111]:
import pandas as pd
from datetime import datetime, date, timedelta
import re

In [112]:
df = pd.read_csv('test.csv')

In [118]:
df

   row     start       end      med  delta
0    1  00:00:00  01:00:00  Dayquil     60
1    2  13:00:00  13:30:00   Nyquil     30
2    3  08:00:00  10:10:00  Dayquil    130
3    4  10:30:00  10:00:00  Dayquil    -30
4    5  08:00:00  10:00:00   Nyquil    120

In [114]:
df = pd.read_csv('test.csv')

# extract the military time as a string
df['start'] = df['start'].apply(convertTime)
df['end'] = df['end'].apply(convertTime)

In [115]:
def convertTime(time):
    if time is None or pd.isnull(time):
        return None

    form = re.match(r'(\d{1,2}):(\d{2})(\s*[AP]M)', time)
    if form:
        try:
            time = pd.to_datetime(time, format='%I:%M%p')
        except ValueError:
            time = pd.to_datetime(time, format='%I:%M %p')

    else:
        try:
            time = pd.to_datetime(time, format='%Y-%m-%d %I:%M%p')
        except ValueError:
            time = pd.to_datetime(time, format='%Y-%m-%d %I:%M %p')
    
    # Return time as a datetime object
    time = time.time()
    return time

In [116]:
def timeDifference(time1, time2):
    res = datetime.combine(date.min, time2) - datetime.combine(date.min, time1)
    res = int(res.total_seconds() / 60)
    return res

In [117]:
df['delta'] = df.apply(lambda row: timeDifference(row['start'], row['end']), axis=1)