In [1]:
import pandas as pd
import datetime as dt
import re

In [26]:
df = pd.read_csv('test.csv')

In [31]:
df

   row     start       end      med
0    1  00:00:00      None  Dayquil
1    2  13:00:00  13:30:00   Nyquil
2    3  08:00:00  10:10:00  Dayquil
3    4  10:30:00  10:00:00  Dayquil
4    5  08:00:00  10:00:00   Nyquil

In [30]:
df = pd.read_csv('test.csv')

# extract the military time as a string
df['start'] = df['start'].apply(convertTime)
df['end'] = df['end'].apply(convertTime)

In [ ]:
def military_time(df, column):
    for i, row in df.iterrows():
        value = row[column]
        # skips blank values
        if pd.isna(value) or value == "":
            continue
        # parses no matter if date or time is present. works for any column present in data, regardless of spacing
        try:
            datetime = pd.to_datetime(value, format='%Y-%m-%d %I:%M%p')
        except ValueError:
            datetime = pd.to_datetime(value, format='%I:%M%p')
        # replaces time with military time
        df.at[i, column] = datetime.strftime('%H:%M')

def check_space(value, datetime):
    minute = datetime.strftime('%-m').shape[0]
    if value[minute] == " ":
        return True
    else:
        return False

In [29]:
def convertTime(time):
    if time is None or pd.isnull(time):
        return None

    form = re.match(r'(\d{1,2}):(\d{2})(\s*[AP]M)', time)
    if form:
        try:
            time = pd.to_datetime(time, format='%I:%M%p')
        except ValueError:
            time = pd.to_datetime(time, format='%I:%M %p')

    else:
        try:
            time = pd.to_datetime(time, format='%Y-%m-%d %I:%M%p')
        except ValueError:
            time = pd.to_datetime(time, format='%Y-%m-%d %I:%M %p')
    
    # Return time as a datetime object
    time = time.time()
    return time