This notebook served as my testing grounds to create the functions that manipulated the times in the CSV.  
The final versions of these functions are located inside functions.py

In [9]:
import pandas as pd
from datetime import datetime, date
import re

In [10]:
df = pd.read_csv('test.csv')

In [11]:
df

   row                start       end      med
0    1  2021-10-31  12:00AM   1:00 AM  Dayquil
1    2  2021-10-31  1:00 PM   1:30 PM   Nyquil
2    3  2021-10-31  08:00AM  10:10 AM  Dayquil
3    4  2021-10-31  10:30AM   10:00AM  Dayquil
4    5  2021-10-31  08:00AM   10:00AM   Nyquil
5    5  2021-10-31  08:00AM   10:00AM   Nyquil

In [12]:
def convertTime(time):
    if time is None or pd.isnull(time):
        return None

    form = re.match(r'(\d{1,2}):(\d{2})(\s*[AP]M)', time)
    if form:
        try:
            time = pd.to_datetime(time, format='%I:%M%p')
        except ValueError:
            time = pd.to_datetime(time, format='%I:%M %p')

    else:
        try:
            time = pd.to_datetime(time, format='%Y-%m-%d %I:%M%p')
        except ValueError:
            time = pd.to_datetime(time, format='%Y-%m-%d %I:%M %p')
    
    # Return time as a datetime object
    time = time.time()
    return time

In [13]:
def timeDifference(time1, time2):
    res = datetime.combine(date.min, time2) - datetime.combine(date.min, time1)
    res = int(res.total_seconds() / 60)
    return res

In [14]:
df = pd.read_csv('test.csv')

# extract the military time as a string
df['start'] = df['start'].apply(convertTime)
df['end'] = df['end'].apply(convertTime)

In [15]:
df['delta'] = df.apply(lambda row: timeDifference(row['start'], row['end']), axis=1)